body{
	font-family: 'Poiret One', cursive;	
}
.container{
	max-width: 1300px;
	min-width:1300px;
	margin-left:auto;
	margin-right:auto;
}
/*headings*/
header{
	/*background-color: white;
	text-align: center;
	font-size: 200%;
	margin-top: 80px;
	font-family: 'Poiret One', cursive;
	position:fixed;
	top:0;
	background-color: salmon;
	height: 70px;
	width: 99%;
	max-width:1300px;
	min-width:1300px;
	font-family: 'Amatic SC', cursive;*/
	margin-left:auto;
	margin-right:auto;
	left:0;
	width:99.6%;
	text-align:center;
	margin-top:5%;
	font-size: 175%;
	line-height: 2px;
	background-color:salmon;
	border: 3px solid salmon;
	margin-bottom: 4px;

}	

h2{
	font-size: 75%;
	line-height: 50px;
}

h3{
	text-align:center;
	font-size: 150%;
}
/*nav*/
nav{
	position:fixed;
	top:0;
	background-color: salmon;
	height: 70px;
	width: 99%;
	max-width:1300px;
	min-width:1300px;
	font-family: 'Amatic SC', cursive;
}

nav ul{
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li{
	float: left;
	
}
nav#tagline{
	top: 0;
	right: 0;
	position: fixed;
	color: black;
	width:100%;

}
/*main*/
main{
	background-color: black;
	color: white;
	/*border-left: 25px dotted white;*/
	border-radius: 10px;
	padding-top:20px;
	padding-bottom: 20px;
	width: 45%;
	margin-left: auto;
	margin-right:auto;
	min-height: 665px;
}
/*paragraphs*/
.indexmain p{
	display:inline-block;
	color: white;
	font-size: 30px;
	width:100%;
	margin-left: 50px;
	top:0;
	height: 300px;
	font-family: 'Amatic SC', cursive;
	}
.authordate{
	text-align:left;
}
.blogmain p{
	padding: 45px;
	font-family: 'Amatic SC', cursive;
	color: white;
	font-size: 30px;
}

/* Aside*/
.rightaside{
	float: right;
}
.leftaside{
	float: left;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
	width: 300px;
	text-align:center;
	padding-bottom:30px;
}

/*images*/
.indexmain p img{
	max-width: 20%;
	height:80%;
	float: left;
	margin-right: 25px;
	padding-left: 5px;
	border-radius: 50px;
}
p .blogimg{
	width: 40%;
	margin-left:120px;
	border: 5px solid salmon;
	padding: 10px;
	margin-bottom: 50px;
}

/*table*/
table{
	margin-left:auto;
	margin-right:auto;
	width:50%;
	border: 10px solid salmon;
	height: 500px;
	}
th{
	font-size: 20px;
	padding: 10px;
	font-weight: bold;
	background-color: salmon;
	width: 120%;
	}
td{	
	width: 40px;
	border-bottom: .5px solid salmon;
	border-right: .5px solid salmon;
}
/*footer*/
footer{
	border-bottom: 5px solid salmon;
	line-height: 30px;
	width:100%;
	text-align: center;
	margin-bottom:25px;
}

/*links*/

nav li a{
	display: block;
	padding: 25px;
	text-align: center;
	color: white;
	text-decoration: none;
	height:20px;
}

nav a:hover {
	background-color: black;
}

nav a:active{
	
	background-color: gray;
	text-decoration: none;
}

nav a:link{
	text-decoration: none;
	color: white;
}

a{
	color: salmon;
	text-decoration: none;
	font-family: 'Poiret One', cursive;
}

/*Goodreads widget css*/
.gr_custom_container_ {
/* customize your Goodreads widget container here*/
border: 1px solid black;
border-radius:10px;
padding: 10px 5px 10px 5px;
background-color: #FFF;
color: #000;
width: 300px
}
.gr_custom_header_ {
/* customize your Goodreads header here*/
border-bottom: 1px solid gray;
width: 100%;
margin-bottom: 5px;
text-align: center;
font-size: 120%
}
.gr_custom_each_container_ {
/* customize each individual book container here */
width: 100%;
clear: both;
margin-bottom: 10px;
overflow: auto;
padding-bottom: 4px;
border-bottom: 1px solid #aaa;
}
.gr_custom_book_container_ {
/* customize your book covers here */
overflow: hidden;
height: 60px;
  float: left;
  margin-right: 4px;
  width: 39px;
}
.gr_custom_author_ {
/* customize your author names here */
font-size: 10px;
}
.gr_custom_tags_ {
/* customize your tags here */
font-size: 10px;
color: gray;
}
.gr_custom_rating_ {
/* customize your rating stars here */
float: right;
}